@page "/integrals"
@inject NavigationManager NavigationManager;
@inject IStringLocalizer<Strings> Localizer;

<TreePageLayout Label="Integrals"/>

<h4 style="text-align:center">@Localizer["NumericalMethods"]</h4>
<div style="width:50%; margin:auto">
	<button style="display:block; width:100%; margin-block:5px" class="btn-outline-dark" @onclick="NavigateToLeftSideRectangles">@Localizer["LeftSideRectanglesMethod"]</button>
	<button style="display:block; width:100%; margin-block:5px" class="btn-outline-dark" @onclick="NavigateToRightSideRectangles">@Localizer["RightSideRectanglesMethod"]</button>
	<button style="display:block; width:100%; margin-block:5px" class="btn-outline-dark" @onclick="NavigateToTrapezoidal">@Localizer["TrapezoidalMethod"]</button>
	<button style="display:block; width:100%; margin-block:5px" class="btn-outline-dark" @onclick="NavigateToParabola">@Localizer["ParabolaMethod"]</button>
</div>

@code {
	void NavigateToLeftSideRectangles() 
	{
		NavigationManager.NavigateTo("integrals/left-side-rectangles");
	}

	void NavigateToRightSideRectangles()
	{
		NavigationManager.NavigateTo("integrals/right-side-rectangles");
	}

	void NavigateToTrapezoidal()
	{
		NavigationManager.NavigateTo("integrals/trapezoidal");
	}

	void NavigateToParabola()
	{
		NavigationManager.NavigateTo("integrals/parabola");
	}
}